// About Section SCSS - Lab 5
@use './variables' as *;
@use './mixins' as *;

.about {
  padding: $spacing-4xl $spacing-lg;
  @include container;
  
  &__title {
    font-size: $font-size-5xl;
    text-align: center;
    margin-bottom: $spacing-3xl;
    @include gradient-text;
    
    @include tablet {
      font-size: $font-size-4xl;
    }
  }
  
  &__content {
    @include grid(2, $spacing-3xl);
    align-items: center;
    
    @include tablet {
      grid-template-columns: 1fr;
      gap: $spacing-2xl;
    }
  }
  
  &__image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: $radius-2xl;
    box-shadow: $shadow-xl;
    
    @include tablet {
      height: 350px;
    }
  }
  
  &__text {
    @include flex-column;
    gap: $spacing-lg;
    
    h3 {
      font-size: $font-size-3xl;
      color: $primary-color;
    }
    
    p {
      font-size: $font-size-lg;
      color: $text-light;
      line-height: 1.8;
    }
    
    ul {
      @include flex-column;
      gap: $spacing-md;
      
      li {
        @include flex-between;
        padding: $spacing-md;
        background: lighten-color($bg-light, 5%);
        border-radius: $radius-lg;
        border-left: 4px solid $primary-color;
        
        .label {
          font-weight: $font-weight-semibold;
          color: $text-dark;
        }
        
        .value {
          color: $primary-color;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
